{
    "semi": false,
    "singleQuote": true,
    "tabWidth": 2,
    "printWidth": 80,
    "trailingComma": "all",
    "bracketSpacing": true,
    "jsxSingleQuote": true,
    "endOfLine": "lf",
    "arrowParens": "avoid"
  }
  